:root{
    --box-width:200px;
    --box-height: 100px;
}

div{
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    animation-name: my-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes my-animation {
    0%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(90deg);

    }

    25%{
        margin-top: 0;
        margin-left: calc(100vw - var(--box-width));
        transform: rotate(180deg);
        background-color: aqua;
    }

    50%{
        margin-top: calc(100vw - var(--box-height));
        margin-left: calc(100vw - var(--box-width));
        transform: rotate(0deg);
        background-color: darkgreen;
    }

    75%{
        margin-top: calc(100vw - var(--box-height));
        transform: rotate(100800deg);
        background-color: darkgreen;
    }

    100%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(360deg);
        background-color: deeppink;
    }

}